body {
    padding: 20px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    overflow: hidden;
}

table {
    background-color: var(--tg-theme-bg-color);
    border-spacing: 0;
}

td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
}

span {
    color: white;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: var(--tg-theme-bg-color);
    filter: invert(100%);
}