body {
    padding: 20px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: lightgrey;
    border-spacing: 0;
}

td {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}


/* #start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;
    background: linear-gradient( to bottom right, #C5DEC6, #587559);
} */

td.dead {
    background-color: transparent;
}

td.live {
    background-color: black;
}